<schema>
	<server>
		<x>10</x>
		<y>10</y>
		<h>200</h>
		<w>250</w>
		<name>second</name>
		<cleanTimer>1</cleanTimer>
		<commandPort>2421</commandPort>
		<host>agorshkov-ws.lupus.griddynamics.net</host>
		<managementPort>2425</managementPort>
		<sessionTimeout>20</sessionTimeout>
		<threads>15</threads>
		<timeout>10000</timeout>
		<dataSourceModels>
			<dataSourceModel>
				<class>com.ag.cache.test.userdataaccess.TestDataInvoker</class>
				<name>a</name>
				<threads>10</threads>
				<properties>
					<property>
						<key>user</key>
						<value>test</value>
					</property>
					<property>
						<key>url</key>
						<value>jdbc:postgresql://localhost:5432/test</value>
					</property>
					<property>
						<key>password</key>
						<value>test</value>
					</property>
					<property>
						<key>threads</key>
						<value>10</value>
					</property>
					<property>
						<key>driver</key>
						<value>org.postgresql.Driver</value>
					</property>
				</properties>
			</dataSourceModel>
		</dataSourceModels>
		<listeners>
			<listener>
				<r>230</r>
				<g>230</g>
				<b>255</b>
				<class>com.ag.server.HttpPlusHeaderListener</class>
				<host>agorshkov-ws.lupus.griddynamics.net</host>
				<port>2422</port>
				<threads>15</threads>
				<timeout>10000</timeout>
			</listener>
		</listeners>
		<masters></masters>
		<clients></clients>
		<serverPlugins></serverPlugins>
		<properties></properties>
		<storeModels>
			<storeModel>
				<dataSource>a</dataSource>
				<model>Child</model>
				<pkg>com.ag.cache.test.model</pkg>
				<readThrough>true</readThrough>
				<writeThrough>true</writeThrough>
			</storeModel>
			<storeModel>
				<dataSource>a</dataSource>
				<model>Test</model>
				<pkg>com.ag.cache.test.model</pkg>
				<readThrough>true</readThrough>
				<writeThrough>true</writeThrough>
			</storeModel>
		</storeModels>
	</server>
	<server>
		<x>302</x>
		<y>10</y>
		<h>229</h>
		<w>250</w>
		<name>main</name>
		<cleanTimer>0</cleanTimer>
		<commandPort>2221</commandPort>
		<host>agorshkov-ws.lupus.griddynamics.net</host>
		<managementPort>2242</managementPort>
		<sessionTimeout>10000</sessionTimeout>
		<threads>30</threads>
		<timeout>10000</timeout>
		<dataSourceModels>
			<dataSourceModel>
				<class>com.ag.cache.test.userdataaccess.TestDataInvoker</class>
				<name>a</name>
				<threads>10</threads>
				<properties>
					<property>
						<key>user</key>
						<value>test</value>
					</property>
					<property>
						<key>url</key>
						<value>jdbc:postgresql://localhost:5432/test</value>
					</property>
					<property>
						<key>password</key>
						<value>test</value>
					</property>
					<property>
						<key>driver</key>
						<value>org.postgresql.Driver</value>
					</property>
				</properties>
			</dataSourceModel>
		</dataSourceModels>
		<listeners>
			<listener>
				<r>230</r>
				<g>230</g>
				<b>255</b>
				<class>com.ag.server.HttpPlusHeaderListener</class>
				<host>agorshkov-ws.lupus.griddynamics.net</host>
				<port>2222</port>
				<protocolVersion>003</protocolVersion>
				<threads>15</threads>
				<timeout>10000</timeout>
			</listener>
			<listener>
				<r>230</r>
				<g>230</g>
				<b>255</b>
				<class>com.ag.server.HttpPlusHeaderListener</class>
				<host>agorshkov-ws.lupus.griddynamics.net</host>
				<port>2232</port>
				<protocolVersion>003</protocolVersion>
				<threads>15</threads>
				<timeout>10000</timeout>
			</listener>
		</listeners>
		<masters></masters>
		<clients>
			<client>
				<name>second</name>
				<cleanTimer>1</cleanTimer>
				<commandPort>2421</commandPort>
				<host>agorshkov-ws.lupus.griddynamics.net</host>
				<managementPort>2425</managementPort>
				<sessionTimeout>20</sessionTimeout>
				<threads>15</threads>
				<timeout>10000</timeout>
				<host>agorshkov-ws.lupus.griddynamics.net</host>
				<port>2422</port>
				<connectThreads>10</connectThreads>
				<protocolversion>002</protocolversion>
				<dataSourceModels>
					<dataSourceModel>
						<class>com.ag.cache.test.userdataaccess.TestDataInvoker</class>
						<name>a</name>
						<threads>10</threads>
						<properties>
							<property>
								<key>user</key>
								<value>test</value>
							</property>
							<property>
								<key>url</key>
								<value>jdbc:postgresql://localhost:5432/test</value>
							</property>
							<property>
								<key>password</key>
								<value>test</value>
							</property>
							<property>
								<key>threads</key>
								<value>10</value>
							</property>
							<property>
								<key>driver</key>
								<value>org.postgresql.Driver</value>
							</property>
						</properties>
					</dataSourceModel>
				</dataSourceModels>
				<listeners>
					<listener>
						<class>com.ag.server.HttpPlusHeaderListener</class>
						<host>agorshkov-ws.lupus.griddynamics.net</host>
						<port>2422</port>
						<threads>15</threads>
						<timeout>10000</timeout>
					</listener>
				</listeners>
				<masters></masters>
				<clients></clients>
				<serverPlugins></serverPlugins>
				<properties></properties>
				<storeModels>
					<storeModel>
						<dataSource>a</dataSource>
						<model>Child</model>
						<pkg>com.ag.cache.test.model</pkg>
						<readThrough>true</readThrough>
						<writeThrough>true</writeThrough>
					</storeModel>
					<storeModel>
						<dataSource>a</dataSource>
						<model>Test</model>
						<pkg>com.ag.cache.test.model</pkg>
						<readThrough>true</readThrough>
						<writeThrough>true</writeThrough>
					</storeModel>
				</storeModels>
			</client>
		</clients>
		<serverPlugins>
			<serverPlugin>
				<checkDelay>1000</checkDelay>
				<class>com.ag.plugin.IdGenerator</class>
				<poolSize>30</poolSize>
				<timeout>10000</timeout>
				<properties>
					<property>
						<key>DataSourceName</key>
						<value>a</value>
					</property>
				</properties>
			</serverPlugin>
		</serverPlugins>
		<properties>
			<property>
				<key>SessionStorePath</key>
				<value>/opt/t1/sessionstore/1</value>
			</property>
		</properties>
		<storeModels>
			<storeModel>
				<dataSource>a</dataSource>
				<model>Test</model>
				<pkg>com.ag.cache.test.model</pkg>
				<readThrough>true</readThrough>
				<writeThrough>true</writeThrough>
			</storeModel>
		</storeModels>
	</server>
</schema>