<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.ag.cachewiever.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ag.cachewiever.Perspective"
            fixed="false"
            id="com.ag.CacheWiever.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ag.cachewiever.views.serverview.ServerView"
            id="com.ag.CacheWiever.ServerView"
            name="ServerView"
            restorable="false">
      </view>
      <view
            class="com.ag.cachewiever.views.PropertyView"
            id="com.ag.CacheWiever.property.view"
            name="Properties"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.ag.cachewiever.views.cacheview.MemoryChartView"
            id="com.ag.cachewiever.views.MemoryChartView"
            name="MemoryCharts"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="com.ag.cachewiever.views.modelchartview.ModelChartView"
            id="com.ag.cachewiever.views.ModelChartView"
            name="ModelChartView"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="com.ag.cachewiever.views.chartview.ChartView"
            id="com.ag.cachewiever.views.ChartView"
            name="ChartView"
            restorable="false">
      </view>
   </extension>
  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="com.ag.CacheWiever.open"
                  label="Open"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <separator
                  name="com.ag.CacheWiever.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <!--<command
                  commandId="com.ag.CacheWiever.OpenEditor"
                  label="wo"
                  mnemonic="A">
            </command> -->
         </menu>
         <menu
               label="Server"
               mnemonic="S">
            <command
                  commandId="com.ag.CacheWiever.AddServer"
                  label="add server"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.ag.CacheWiever.application"
            name="CacheWiever">
         <property
               name="appName"
               value="CacheWiever">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ag.cachewiever.editors.CacheEditor"
            contributorClass="com.ag.cachewiever.editors.MyGraphicalEditorActionBarContributor"
            default="true"
            id="com.ag.cachewiever.editors.CacheEditor"
            name="CacheEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ag.cachewiever.views.serverview.action.AddServerHandler"
            id="com.ag.CacheWiever.AddServer"
            name="add server">
      </command>
      <command
            id="org.eclipse.ui.file.save"
            name="save">
      </command>
      <command
            defaultHandler="com.ag.cachewiever.actions.OpenCasheHandler"
            id="com.ag.CacheWiever.open"
            name="open">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ag.CacheWiever.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1 + O">
      </key>
   </extension>

</plugin>
